.single-user {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__head {
    display: flex;
    justify-content: space-between;
  }

  &__purchases {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__purchases-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  a {
    text-decoration: underline;
    color: #63e2b7;
    cursor: pointer;
  }
}